---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import ImportanciaContent from '../mdx/importancia.mdx';
---

<Layout title="Jiu Jitsu Krav Maga México | Importancia de las Artes Marciales">
  <Header />
  <main class="prose prose-red max-w-5xl w-full mx-auto px-4 py-8 text-base md:text-lg">
    <ImportanciaContent />
  </main>
  <Footer />
</Layout>
