---
---

<section id="clases" class="py-16 bg-gray-100 text-gray-900">
  <div class="container mx-auto px-4 max-w-4xl">
    <h2 class="text-3xl font-bold mb-4 text-center">Horarios y Clases</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full border border-gray-300 rounded-lg">
        <thead>
          <tr class="bg-red-400 text-black">
            <th class="py-2 px-4">Día</th>
            <th class="py-2 px-4">Horario</th>
            <th class="py-2 px-4">Clase</th>
          </tr>
        </thead>
        <tbody>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Martes y Jueves</td>
            <td class="py-2 px-4">18:00 - 19:00</td>
            <td class="py-2 px-4">Jiu Jitsu (niños)</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Martes y Jueves</td>
            <td class="py-2 px-4">19:00 - 21:00</td>
            <td class="py-2 px-4">Jiu Jitsu (jóvenes y adultos)</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Sábado</td>
            <td class="py-2 px-4">08:00 - 10:00</td>
            <td class="py-2 px-4">Jiu Jitsu</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Domingo</td>
            <td class="py-2 px-4">09:00 - 11:00</td>
            <td class="py-2 px-4">Krav Maga</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
