---
---

<section id="clases" class="py-16 bg-gray-100 text-gray-900">
  <div class="container mx-auto px-4 max-w-4xl">
    <h2 class="text-3xl font-bold mb-4 text-center">Horarios y Clases</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full border border-gray-300 rounded-lg">
        <thead>
          <tr class="bg-red-400 text-black">
            <th class="py-2 px-4">Día</th>
            <th class="py-2 px-4">Horario</th>
            <th class="py-2 px-4">Clase</th>
          </tr>
        </thead>
        <tbody>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Martes y Jueves</td>
            <td class="py-2 px-4">6:00 - 7:00 PM</td>
            <td class="py-2 px-4">Jiu Jitsu (niños)</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Martes y Jueves</td>
            <td class="py-2 px-4">7:00 - 9:00 PM</td>
            <td class="py-2 px-4">Jiu Jitsu (jóvenes y adultos)</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Sábado</td>
            <td class="py-2 px-4">08:00 - 10:00 AM</td>
            <td class="py-2 px-4">Jiu Jitsu</td>
          </tr>
          <tr class="even:bg-white odd:bg-gray-50">
            <td class="py-2 px-4">Domingo</td>
            <td class="py-2 px-4">09:00 - 11:00 AM</td>
            <td class="py-2 px-4">Krav Maga</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-5">
      <h2 class="text-3xl font-bold mb-4 text-center">Costos</h2>
      <h3 class="text-xl font-bold mb-2">🔥 KRAV MAGA (Defensa Personal Israelí)</h3>
      <ul class="list-disc list-inside text-lg space-y-2">
        <li><strong>Domingos: </strong>9:00 - 11:00 AM</li>
        <li><strong>$250 al mes</strong></li>
        <li><strong>Incluye: </strong>Técnicas efectivas del ejército israelí, combinadas con Jiu-Jitsu, Karate y más, para defenderte sin importar tu tamaño o fuerza.</li>
      </ul>
      <h3 class="text-xl font-bold mb-2 mt-5">🥋 JIU-JITSU (Arte marcial Japonés)</h3>
      <ul class="list-disc list-inside text-lg space-y-2">
        <li><strong>Martes y Jueves:</strong></li>
        <ul class="list-[square] pl-6 list-inside text-lg space-y-2">
          <li><strong>Niños: </strong>6:00 - 7:00 PM</li>
          <li><strong>Jóvenes y Adultos: </strong>7:00 - 9:00 PM</li>
        </ul>
        <li><strong>Sábados: </strong>8:00 - 10:00 AM</li>
      </ul>
      <h3 class="text-xl font-bold mb-2 mt-5">💲 Paquetes de JIU-JITSU:</h3>
      <ul class="list-disc list-inside text-lg space-y-2">
        <li><strong>4 clases por semana (Martes, Jueves y Sábado + Domingo Krav Maga): </strong>$500/mes</li>
        <li><strong>Sábado y Domingo (Jiu-Jitsu + Krav Maga): </strong>$350/mes</li>
        <li><strong>Sólo Jiu-Jitsu (Martes, Jueves y Sábado): </strong>$350/mes</li>
        <li><strong>Clase suelta: </strong>$100</li>
      </ul>
    </div>
  </div>
</section>
