---
import Slideshow from './Slideshow.astro';

const images = [
  '/img/slide1_a.jpeg',
  '/img/slide1_b.jpg',
  '/img/slide1_c.jpg',
  '/img/slide1_d.jpg',
  '/img/slide1_e.jpg'
];

const positions = [
  '', 
  '', 
  '', 
  '', 
  '22% 38%'
];
---

<section id="info" class="py-16 bg-white text-gray-800">
  <div class="container mx-auto px-4 max-w-5xl">
    <div class="flex flex-col md:flex-row items-center gap-8">
      <div class="md:w-1/2">
        <h2 class="text-3xl font-bold mb-4 text-center md:text-left">¿Quiénes somos?</h2>
        <p class="text-lg mb-4 text-justify md:text-justify">
          Defensa personal efectiva para toda la familia. Te presentamos el Krav Maga (Defensa Personal Israelí) y el Jiu-Jitsu Japonés, la combinación perfecta de técnicas de élite y tradición marcial. No solo enseñamos movimientos, formamos personas seguras de sí mismas.
        </p>
        <ul class="list-disc list-inside text-lg space-y-2">
          <li>Instructores altamente calificados, certificados nacional e internacionalmente</li>
          <li>Método didáctico y seguro con sistema progresivo que evita lesiones</li>
          <li>Equipo de calidad para tu entrenamiento</li>
          <li>Resultados reales: mejora tu condición física y aprende defensa personal</li>
          <li>Grupos reducidos: atención personalizada (cupo limitado)</li>
        </ul>
      </div>
      <div class="md:w-1/2 w-full max-h-[350px] h-full">
        <Slideshow images={images} positions={positions} />
      </div>
    </div>
  </div>
</section>
