---
---

<section id="mapa" class="py-16 bg-gray-100">
  <div class="container mx-auto px-4 max-w-2xl">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Ubicación</h2>
    <div class="w-full aspect-video rounded-lg overflow-hidden shadow-lg border border-gray-300">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d865.5459840586667!2d-99.02134007828451!3d19.579574531360855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f02d20400001%3A0xc3f6d10fe420c1a0!2sIMCUFIDEEM!5e0!3m2!1ses-419!2smx!4v1740024724609!5m2!1ses-419!2smx"
        style="border:0; width:100%; height:100%; min-height:300px;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación Jiu Jitsu Krav Maga México"
      ></iframe>
    </div>
  </div>
</section>
