---
import '../styles/global.css'

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/img/logo_JKMM.jpg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Escuela de artes marciales Jiu Jitsu Krav Maga México" />
		<meta name="keywords" content="Jiu Jitsu, Krav Maga, artes marciales, escuela, México, Ecatepec" />
		<meta name="theme-color" content="#000000" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Escuela de artes marciales Jiu Jitsu Krav Maga México" />
		<meta property="og:image" content="/img/logo_JKMM.jpg" />
		<meta property="og:url" content="https://jiujitsukravmagamexico.com" />
		<meta property="og:type" content="website" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
