---
import './src/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/img/logo_JKMM.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jiu Jitsu Krav Maga México</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
